*{ /* Confguração basica da pagina */
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body { /* Cor da pagina */
    background-color: rgb(242, 242, 242); 
    font-size: 18px;
    line-height: 1.6;
}

.anuncio {
    background-color: #a1a1a1bd;
    margin-left: 28px;
}

.anuncio-atividades {
    background-color: #a1a1a1bd;
    margin-left: 28px;
}

.anuncio-atividades-pc {
    background-color: #a1a1a1bd;
    margin-left: 28px;
}    
    
.anuncio-atividades-mobile {
display: none;
}

header{ /* Espaçamento do topo */
    padding: 20px 0; 

}

.bloco-de-noticias-1 {
    display: flex;
    justify-content: center;
}

.banner-principal {
    width:611px;
}

.bloco-de-noticias-2 {
    display: flex;
    justify-content: center;
}

.bloco-de-atividades{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    background-color: #00000006;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

.barratopo { /* Barra de pesquisa */
    background-color: rgb(232, 232, 232); 
    display: flex;
}

.barraFundoInfo {
    display:flex;
    background-color: rgb(232, 232, 232);
}

.menu-de-rolagem:hover .menu-de-rolagem-itens {
    display: block;
}

.menu-de-rolagem-itens {
    position: absolute;
    display: none;
    box-shadow: 0 0 2px rgba(131, 130, 130, 0.664);
    background-color: rgb(218, 218, 218);
    text-align: left;
}

.menu-de-rolagem-itens a {
    display: block;
}

.imagembarraFundoInfo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

.textobarraFundoInfo {
    color:black;

}

.textobarraFundoInfo h4 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.textobarraFundoInfo a {
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

.textobarraFundoInfo3 {
    width: 40%;

}

.textobarraFundoInfo3 a {
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 30px;

}

.Containerfundo {
    display: flex;
    width: 30%;

}

.logotopo { /* Escala da imagem do topo da pagina */
    width: 200px; 

}

.logo-do-site {
    margin: auto;
}

.logofundo { /* Escala da imagem do fundo da pagina */
    width: 150px; 

}

.center { /* Imagem do topo da pagina */
    display: flex;
    align-items: center;
    justify-content: center;
}

.botão-redes {
    width: 50px;
    margin-left: 15px;
}

.barra-topo-redes {
    display: none;
}

nav {
    text-align: center;
    background-color: rgb(232, 232, 232);

}

nav li {
    display: inline-block;
}
    
nav li a { /* Confguração dos botões da barra principal */
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 15px;
}

nav a:hover { /* Cor dos botões da barra principal */
    color: red;
}

.tituloPagina { /* Titulo da pagina centralizada */
    text-align:left;
    padding-left: 100px;
    padding-bottom: 20px;

}

/* ---------------------------------------------------------------------------- */

.imgNoticia { /* Confguração do tamanho das imagens da pagina -NOVIDADES- */
    width: 331px;
    padding-left: 25px ;
    
}

.img-atividade { /* Confguração do tamanho das imagens da pagina -NOVIDADES- */
    width: 331px;
    padding-left: 10px ;
    padding-right: 10px ;
}

.img-lado-a-lado {
    display:flex;
}

.container { /* Confguração da borda da pagina com o fim da tela */
    padding: 5px 5px;
    text-align: center;
}

.texTi { /* Espaçamento do texto da pagina - NOVIDADES - */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
}

.texEn { /* Espaçamento do texto de enunciado */
    padding-bottom: 100px;
    padding-left: 17px;
}

.texTi-Pag { /* Espaçamento do texto das paginas de noticias */
    padding-bottom: 10px;
    padding-right: 170px;
    padding-left: 170px;
    text-align: left;   
}

.texEn-Pag { /* Espaçamento do texto das paginas de noticias */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 170px;
    padding-left: 170px;
    text-align: left;
}

.texTi-Pag-img-ao-lado { /* Espaçamento do texto das paginas de noticias com imagem ao lado */
    padding-bottom: 10px;
    padding-right: 170px;
    padding-left: 20px;
    text-align: left;   
}

.texEn-Pag-img-ao-lado { /* Espaçamento do texto das paginas de noticias com iamgem ao lado */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 170px;
    padding-left: 20px;
    text-align: left;
}

.QuemSomos{ 
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
}

.imgQuemSomos{
    width: 300px;
    padding-right: 100px;
}

.imgQuemSomos2{
    width: 600px;
    padding-right: 100px;
}

/* ---------------------------------------------------------------------------------------------- */

.materias { /* Boto~es de matérias da BNCC */
    display: inline;
}

.imgMat { /* Imagens das matérias da BNCC na pagina - ATIVIDADES - */
    width: 130px;
    margin: 10px 0px 10px 0px;
}

.Mat { /* Boto~es de matérias da BNCC */
    padding-bottom: 10px;
    padding-left: 17px;
}

.Mat:hover { /* Boto~es de matérias da BNCC */
    color: red;
}

.texMat { /* Explicação da matéria */
    padding-bottom: 10px;
    padding-left: 17px;
    margin-right: 40px;
}

/* -------------------------------------------------------------------------------------------- */

.imgATD { /* Imagem que representa as atividades da pagina de seleção */
    width: 300px;
    margin: 0px 0px 20px 0px;
    
}

.TitleATD { /* Titulo da atividade */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.TextATD { /* Texto de descrição da atividade */
    padding-bottom: 200px;
    padding-left: 10px;
    margin-right: 10px;

}

.linkDOW { /* Botão de download */
    padding-bottom: 20px;
    text-align: center;
}

.linkDOW:hover { /* Botão de download */
    color: red;
}

/* ------------------------------------------------------------------------------------------------ */

.imgATD-IND { /* Imagem da atividade da pagina de download */
    width: 500px;

}

.TitleATD-IND { /* Titulo da atividade na pagina de donwload */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.TextATD-IND { /* Texto de descrição da atividade na pagina de downloads */

    margin-bottom: 30px;
    margin-left: 20px;
}

.TextATD-HAB { /* Texto de descrição da atividade na pagina de downloads */

    margin-bottom: 5px;
    margin-left: 20px;
}

.linkDOW-IND { /* link para da atividade na pagina de downloads */
    margin-top: 10px;
    margin-bottom: 50px;
}

main {
    display:flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    border: 2px;
    background-color: rgba(223, 221, 221, 0.651);
}

.img-ao-lado {
    display:flex;
}

.menu {
  width: 100%;
  background-color: rgb(232, 232, 232);
  color: white;
}

.menu-icon {
  display: block;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(232, 232, 232);
  font-size: 20px;
  color: rgb(12, 0, 0);
}

#menu-toggle {
  display: none;
}

/* Oculta o menu inicialmente */
.menu-list {
  list-style: none;
  background-color: #444;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Quando ativado, expande */
#menu-toggle:checked ~ .menu-list {
  max-height: 500px; /* ou qualquer altura que acomode todos os itens */
}

/* Estilo dos itens do menu */
.menu-list li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-top: 1px solid #555;
}

.anuncio-container {
  overflow: hidden; /* esconde o que ultrapassar */
}


@media screen and (max-width: 768px){ 

    .barra-topo-redes {
        display:flex;
    }

    .anuncio {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1px;
    }

    .anuncio-atividades-pc {
        display: none;
    }    
    
    .anuncio-atividades-mobile {
        display: flex;

        margin-bottom: 20px;
        background-color: #a1a1a1bd;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%
    }

    .tituloPagina { /* Titulo da pagina centralizada */
        text-align:left;
        padding-left: 20px;
    
    }

    .banner-principal {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%
    }

    .botao-das-redes-topo {
        margin-left: 20px;
    }

    .botao-das-redes {
        display: none;
    }

    .logo-do-site {
        display: none;
    }

    .botão-redes {
        width: 30px;
        margin-left: 5px;
    }

    .logotopo {
        width: 100px;
        margin-left: 70px;
    }

    .bloco-de-noticias-1 {
        flex-direction: column;
        align-items: center;
    }

    .bloco-de-noticias-2 {
        flex-direction: column;
        align-items: center;
    }

    .bloco-de-atividades {
        flex-direction: column;
        margin-top: 1px;
    }

    nav a {
        font-size: 12px;
    }

    .imgNoticia{
        padding-bottom: 10px;
        padding-right: 25px ;
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%
    }

    body{
        font-size: 14px;
        font-size: 20px;
        line-height: 1.8;
    }

    main{
        margin: 0 auto;
        width:100%;
        flex-direction: column;

    }

    .imgATD-IND {
        width: 300px;
    }
    
    .texTi-Pag  {
        padding-right: 17px;
        padding-left: 17px;
    }

    .texEn-Pag {
        padding-right: 17px;
        padding-left: 17px;
    }

    .texTi-Pag-img-ao-lado  {
        padding-right: 17px;
        padding-left: 17px;
    }

    .texEn-Pag-img-ao-lado {
        padding-right: 17px;
        padding-left: 17px;
    }
    
    .QuemSomos{ 
        margin: 0 auto;
        width:100%;
        flex-direction: column;

    }

    .imgQuemSomos{
        width: 300px;
        margin-top: 15px;
        margin-left: 30px;
    }
    
    .imgQuemSomos2{
        width: 400px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .barraFundoInfo{
        flex-direction: column-reverse;
        align-items: center;

    }

    .imagembarraFundoInfo{
        padding-left: 15px;
        padding-right: 15px;

    }

    .textobarraFundoInfo3 {
        width: 50%;
    
    }

    .textobarraFundoInfo3 a {
        text-decoration: none;
        margin-left: 3px;
        margin-bottom: 3px;
        margin-top: 30px;

    }

    .Containerfundo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-ao-lado {
        align-items: center;
        margin: 0 auto;
        width:100%;
        flex-direction: column;
    }

    .img-lado-a-lado {
        display:flex;
    }

    .img-atividade { /* Confguração do tamanho das imagens da pagina -NOVIDADES- */
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%
    }
}