*{ /* Confguração basica da pagina */
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body { /* Cor da pagina */
    background-color: rgb(242, 242, 242); 

}

header{ /* Espaçamento do topo */
    padding: 20px 0; 

}

.barratopo { /* Barra de pesquisa */
    border: 2px;
    border-style: groove;
    background-color: rgb(232, 232, 232); 
}

.logotopo { /* Escala da imagem do topo da pagina */
    width: 300px; 

}

.center { /* Imagem do topo da pagina */
    text-align: center;
    background-image: url(../Assets/fundo\ AA.png);
}

nav ul { /* Barra com botões principais */
    list-style-type: none;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: center;
    color:black;
    font-weight: bold;
    border: 2px;
    border-style: groove;
    background-color: rgb(232, 232, 232);
    

}

nav a { /* Confguração dos botões da barra principal */
    text-decoration: none;
    margin: 20px;
    color: black;
}

nav a:hover { /* Cor dos botões da barra principal */
    color: red;
}

.tituloPagina { /* Titulo da pagina centralizada */
    text-align: center;
}

/* ---------------------------------------------------------------------------- */

.imgNoticia { /* Confguração do tamanho das imagens da pagina -NOVIDADES- */
    width: 300px;
    
}

.container { /* Confguração da borda da pagina com o fim da tela */
    padding: 10px 10px;
    text-align: center;
}

.texTi { /* Espaçamento do texto da pagina - NOVIDADES - */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
}

.texEn { /* Espaçamento do texto de enunciado */
    padding-bottom: 100px;
    padding-left: 17px;
}

.texTi-Pag { /* Espaçamento do texto das paginas de noticias */
    padding-bottom: 10px;
    padding-right: 170px;
    padding-left: 170px;
    text-align: left;
    
}

.texEn-Pag { /* Espaçamento do texto das paginas de noticias */
    padding-bottom: 5px;
    padding-right: 170px;
    padding-left: 170px;
    text-align: left;
}

.QuemSomos{ 
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
}

.imgQuemSomos{
    width: 300px;
    padding-right: 100px;
}

.imgQuemSomos2{
    width: 600px;
    padding-right: 100px;
}

/* ---------------------------------------------------------------------------------------------- */

.materias { /* Boto~es de matérias da BNCC */
    display: inline;
}

.imgMat { /* Imagens das matérias da BNCC na pagina - ATIVIDADES - */
    width: 130px;
    margin: 10px 0px 10px 0px;
}

.Mat { /* Boto~es de matérias da BNCC */
    padding-bottom: 10px;
    padding-left: 17px;
}

.Mat:hover { /* Boto~es de matérias da BNCC */
    color: red;
}

.texMat { /* Explicação da matéria */
    padding-bottom: 10px;
    padding-left: 17px;
    margin-right: 40px;
}

/* -------------------------------------------------------------------------------------------- */

.imgATD { /* Imagem que representa as atividades da pagina de seleção */
    width: 300px;
    margin: 0px 0px 20px 0px;
    
}

.TitleATD { /* Titulo da atividade */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.TextATD { /* Texto de descrição da atividade */
    padding-bottom: 200px;
    padding-left: 10px;
    margin-right: 10px;

}

.linkDOW { /* Botão de download */
    padding-bottom: 20px;
    text-align: center;
}

.linkDOW:hover { /* Botão de download */
    color: red;
}

/* ------------------------------------------------------------------------------------------------ */

.imgATD-IND { /* Imagem da atividade da pagina de download */
    width: 500px;

}

.TitleATD-IND { /* Titulo da atividade na pagina de donwload */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.TextATD-IND { /* Texto de descrição da atividade na pagina de downloads */

    margin-bottom: 30px;
    margin-left: 20px;
}

.TextATD-HAB { /* Texto de descrição da atividade na pagina de downloads */

    margin-bottom: 5px;
    margin-left: 20px;
}

.linkDOW-IND { /* link para da atividade na pagina de downloads */
    margin-top: 10px;
    margin-bottom: 50px;
}

main {

    display:flex;
    flex-direction: column;


    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    border: 2px;
    border-style: groove;
    background-color: rgba(223, 221, 221, 0.603);



}

@media screen and (max-width: 768px){ 

    nav a {
        font-size: 8px;
    }

    .imgNoticia{
        width: 350px;

    }

    body{
        font-size: 14px;

    }

    main{
        margin: 0 auto;
        width:100%;
        flex-direction: column;

    }

    .imgATD-IND {
        width: 300px;
    }
    
    .texTi-Pag  {
        padding-right: 17px;
        padding-left: 17px;
    }

    .texEn-Pag {
        padding-right: 17px;
        padding-left: 17px;
    }
    
    .QuemSomos{ 
        margin: 0 auto;
        width:100%;
        flex-direction: column;

    }

    .imgQuemSomos{
        width: 300px;
        margin-top: 15px;
        margin-left: 30px;
    }
    
    .imgQuemSomos2{
        width: 400px;
        margin-top: 15px;
        margin-left: 30px;
    }

}